/* DATABASE */
MONGODB_URI=               # MongoDB connection URI
RETRIES=                   # Number of connection retries (integer)
ENCRYPTION_KEY_32=         # 32-byte encryption key (string)
ENCRYPTION_IV=             # Encryption IV (string)

/* AUTH */
GITHUB_CLIENT_ID=          # GitHub OAuth client ID (string)
GITHUB_CLIENT_SECRET=      # GitHub OAuth client secret (string)
JWT_SECRET=                # Secret key for JWT (string)

/* PROJECT */
PORT=                      # Port number for the server (integer)
